@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* --- Breakpoints con Sass ---*/
$bp-sm: 30rem;
$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 80rem;

/* Mixin reutilizable para media queries */
@mixin mq($from){
    @media(min-width: $from){
        @content;
    }
}

:root{

    --clr-purple-50: hsl(260, 100%, 95%);
    --clr-purple-300: hsl(264, 82%, 80%);
    --clr-purple-500: hsl(263, 55%, 52%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(214, 17%, 92%);
    --clr-gray-200: hsl(0, 0%, 81%);
    --clr-gray-400: hsl(224, 10%, 45%);
    --clr-gray-500: hsl(217, 19%, 35%);
    --clr-dark-blue: hsl(219, 29%, 14%);
    --clr-black: hsl(0, 0%, 7%); 

    --ff: 'Barlow Semi Condensed', sans-serif;

    --fs-body: clamp(.8125rem, .75rem + .3vw, .82rem);
    --fs-h2: clamp(1.15rem, 1vw + 1rem, 1.35rem);
    
    --gap: 1.5rem;
    --radius: 0.5rem;
    --shadow: 0 20px 25px -5px hsl(213 20% 20% / 0.15);

    --maxw: 72.5rem;

}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--clr-gray-100);
    font-family: var(--ff);
    font-size: var(--fs-body);
    color: var(--clr-dark-blue);
}

.wrapper{
    /*centrado horizontal + limitar ancho a la maqueta */
    inline-size: min(100% - 3rem, var(--maxw));
    margin-inline: auto;
    /* centrado vertical*/
    padding-block: 2rem;
    
}

.grid{
    display: grid;
    gap: var(--gap);

    .card{
        background-color: var(--clr-white);
        border-radius: var(--radius);
        padding:2rem;
        box-shadow: var(--shadow);

        &-header{
            display: flex;
            align-items: center;
            gap: 1rem;
            
            .card-avatar{
                width: 2.5rem;
                border-radius: 50%;
            }

            .card-meta{
                display: flex;
                flex-direction: column;

                .card-author{
                    margin-block-end: 0;
                    font-weight: 500;
                }

                .card-role{
                    margin-block-start: 0;
                    font-weight: 200;
                }
            }

        }

        &-body{
            margin: 0;
            max-inline-size: 60ch;
        }

        &-title{
            font-size: var(--fs-h2);
            font-weight: 500;
            margin-block: 0 .75rem;
        }

        &--purple{
            background-color: var(--clr-purple-500);
            color: var(--clr-white);
        }

        &--gray{
            background-color: var(--clr-gray-500);
            color: var(--clr-white);
        }

        &--dark-blue{
            background-color: var(--clr-dark-blue);
            color: var(--clr-white);
        }
    }

}

@include mq($bp-md){

    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr 1fr */
        

        .card{

            &-title{
                max-inline-size: 46ch;
            }

            &-body{
                max-inline-size: 70ch;
            }

            &--purple{
                grid-column: 1 / span 2;
            }

            &--gray{
                grid-column: 3;
            }

            &--white-kira{
                grid-column: 4;
                grid-row: 1 / span 2;
            }

            &--white-jeanette{
                grid-column: 1;
                grid-row: 2;
            }

            &--dark-blue{
                grid-column: 2 / span 2;
                grid-row: 2;
            }
        }
    }
}

